<nav>
  <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Página Inicial
  </button>

  <button routerLink="/projetos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Projetos
  </button>

  <button routerLink="/experiencias" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Experiências
  </button>

  <button routerLink="/contato" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Contato
  </button>
</nav>

<div class="container">
  <div class="projeto">
    <img id="foto" src="https://previews.dropbox.com/p/thumb/ACvm1-trsai95DJqywRKs-0ipjDPeZ7zUR2faGEGjcZ5UoXpSU8v9wnDBcLw438zLM2fAhqcFIThvUgHCXMrZJdCx4A3CZRYtDfJh_TCSGLS5uj9reBZaA10IDZwtl185lUl4sboz46O_8d3MYBbPs2x453jlMNxQvOf_5BdMBL2XLAk0WcBXBDxnyEJMD1OmdBy73zm0A7KJXCSgsv9UnqSAARrjiOyQ9gyirtLrDXdFGSr0tid87V-qOP4LVk20SipxmGwJ3L-j3iR6zNNwl3V-lijj1qsxrKKhWs_VWvSr1iDbDCZqu-fd5mph8Kqv3g/p.png" alt="fotoPerfil" width="450px" height="250px">
    <span id="descricaoProjeto"><b>Projeto myORGANIZATOR</b><br><br>
    Desenvolvi, junto com minha equipe, um software com o objetivo de ajudar as pessoas a organizarem 
    seu tempo de forma simples, prática e eficaz, proporcionando mais agilidade e produtividade no dia 
    a dia. O sistema permite que os usuários planejem tarefas, definam prioridades e acompanhem o progresso 
    de suas atividades, tudo de maneira intuitiva e acessível.<br><br>

    Durante o desenvolvimento, utilizei tecnologias como <b>HTML, CSS e JavaScript,</b> aplicando boas práticas 
    de programação e design de interface para garantir uma experiência de uso agradável e eficiente. 
    O projeto também me proporcionou aprendizado em colaboração de equipe, resolução de problemas e 
    gestão de prazos, fortalecendo minhas habilidades técnicas e interpessoais.</span>
  </div>
  <div class="projeto">
    <img id="foto" src="https://previews.dropbox.com/p/thumb/ACvBJYZAcQFoAOH7MD2YymsIjo91TyMoy2v6--7fWzNgzlEF6ObT4KQXwaLtyST0pKO7lwSxv-b3mx27_uGc0IsQIG20H2HNRlXiuWDBYp_jCLQHB7KNjxRST_U56dSJXqxABT-ImtZA4q0LjcKV6SpAsfPPm_N6QsOAgThCFNo7RCLbTJq9sHkvmCWWeaDipRZTPlwzoW0L7TpvzzRsOrZ8BMO0YYqbVSEv8zJBUzmNWu9iKhdInAPTQ-ZAQipwFv3QKjoTkdE3CT9zQBiNLEkA2Zq405e0cvDJtNGVC0gvCOk6FW0CCjpZXIqaEnlpMlk/p.png" alt="fotoPerfil" width="450px" height="250px">
    <span id="descricaoProjeto"><b>Projeto Santo Restauro</b><br><br>
    Desenvolvemos o software “Santo Restauro” com o objetivo de facilitar o controle e gerenciamento de acervos 
    de forma prática e eficiente. A aplicação permite que os usuários cadastrem e administrem seus acervos, 
    além de incluir, editar e visualizar os itens presentes neles, oferecendo um controle completo sobre o 
    conteúdo armazenado.<br><br>

    Durante o desenvolvimento, utilizamos tecnologias como <b>HTML, CSS, JavaScript e Python,</b> aplicando boas práticas 
    de programação e design de interface para garantir uma experiência de uso agradável e funcional. O projeto 
    também proporcionou aprendizado em colaboração de equipe, organização de dados e resolução de problemas, 
    fortalecendo minhas habilidades técnicas e interpessoais.
    </span>
  </div>
</div>
<app-footer></app-footer>