<nav>
  <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Página Inicial
  </button>

  <button routerLink="/projetos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Projetos
  </button>

  <button routerLink="/experiencias" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Experiências
  </button>

  <button routerLink="/contato" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Contato
  </button>
</nav>

<!--Seção do Perfil-->
<div class="apresentacaoPerfil">
  <div class="perfil">
    <img id="foto" src="https://media.licdn.com/dms/image/v2/D5603AQEHA4-ebcXgaw/profile-displayphoto-shrink_200_200/B56ZRIRVHSG8AY-/0/1736379291311?e=1759363200&v=beta&t=JRypSOwdGROqhWvYMIn4HlfONv1n5nJxzXxxOlkSkLk" width="450px" height="250px">
    <span id="nomePessoa">Gabriel Reis Lebron de Oliveira</span>
  </div>
  <div class="sobreMim">
      <p id="textoSobreMim">Meu nome é Gabriel Reis Lebron de Oliveira, tenho 19 anos 
        e sou estudante de Engenharia de Software, atualmente cursando o quarto período 
        da graduação. Desde cedo desenvolvi um grande interesse pela tecnologia, e foi 
        esse entusiasmo que me motivou a escolher uma área tão dinâmica e desafiadora 
        como a engenharia de software.<br><br>

      Durante minha trajetória acadêmica, venho ampliando meu conhecimento em programação, 
      desenvolvimento de sistemas e boas práticas de engenharia, buscando sempre evoluir 
      e me preparar para os desafios do mercado. Tenho curiosidade em explorar diferentes 
      áreas dentro da tecnologia, desde o desenvolvimento web e mobile, até conceitos 
      relacionados a banco de dados, arquitetura de software e inovação tecnológica.<br><br>

      Além do interesse profissional, também acredito que o equilíbrio entre estudo, 
      lazer e saúde é fundamental. Por isso, dedico parte do meu tempo à prática de 
      esportes, principalmente vôlei e ciclismo. Essas atividades não apenas me 
      ajudam a manter o corpo ativo, como também fortalecem características 
      importantes no meu desenvolvimento pessoal, como trabalho em equipe, 
      disciplina, resiliência e foco em resultados.<br><br>

      Minha motivação está em unir o gosto pela tecnologia com a busca constante por 
      aprendizado e evolução. Pretendo, ao longo da minha jornada acadêmica e 
      profissional, contribuir para projetos que impactem positivamente a vida das 
      pessoas, aplicando criatividade, dedicação e compromisso naquilo que faço.</p>
  </div>
</div>

<!--Seção das Experiências-->
<div class="experiencias">
  <h2>Experiência Atual</h2>
  @for(item of arrayExperiencias(); track item;){
    <details>
      <summary>
        <p>
          <strong>{{ item.summary.strong}}</strong>
          {{ item.summary.p }}
        </p>
      </summary>
      <article [innerHTML]="item.text"></article>
    </details>
  }
</div>
<div class="verMaisExperiencias">
  <button routerLink="/experiencias" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Ver Mais
  </button>
</div>

<!--Seção dos Projetos-->
<div class="secaoProjetos">
  <h2>Meus Projetos</h2>
</div>
<div class="projetos">
  <div class="projeto">
    <img src="pagina-inicial-images/itproject1.webp" alt="Projeto1" width="400px" height="200px">
  </div>
  <div class="projeto">
    <img src="pagina-inicial-images/itproject2.png" alt="Projeto2" width="400px" height="200px">
  </div>
  <div class="projeto">
    <img src="pagina-inicial-images/itproject3.jpg" alt="Projeto3" width="400px" height="200px">
  </div>
</div>
<div class="verMaisProjetos">
   <button routerLink="/projetos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Ver mais
  </button>
</div>
<app-footer></app-footer>